*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #2c2b2b;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background: #21062a;
  mask-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
}

.header__title {
  font-weight: 500;
  font-size: 65px;
  line-height: 130%;
  margin-left: 150px;
  font-style: oblique;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0 49px;
}

.header__images-myphoto {
  position: absolute;
  right: 0;
  width: 500px;
  height: 525px;
  bottom: 35px;
  margin-right: 250px;
  border-radius: 60px;
  border: 3px groove #fff;
  box-shadow: 0 0 7px rgb(122, 116, 116);
}

.menu {
  width: 100%;
  border-bottom: 2px solid #fff;
  margin-top: 15px;
  padding: 25px 0 24px;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.header__social {
  padding: 70px 0 30px 50px;
}

.social {
  display: flex;
  align-items: center;
}

.social__link {
  margin: 0 5px;
}

.about,
.skill,
.carousel {
  padding: 75px 0;

  background-image: url(../images/background.jpg);
}

.title {
  text-align: center;
  color: #21062a;
  font-size: 36px;
  line-height: 53px;
  font-weight: 400;

  margin-bottom: 20px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__desc {
  text-align: justify;
  width: 1205px;
  margin-right: 96px;
  margin-top: 50px;
}

.about__text {
  font-size: 19px;
  margin-left: 15px;
}

.about__info {
  width: 100%;
  color: #fff;
}

.about__list {
  list-style: none;
  background-color: #21062a;
  padding: 25px 0 25px 85px;
}

.about__item {
  margin-bottom: 20px;
}

.about__item-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.skill__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  margin-bottom: 30px;
}

.skill__title {
  text-align: center;
  color: #21062a;
  font-size: 20px;
  line-height: 53px;
  font-weight: 400;
}

.skill__progressbar {
  width: 70%;
  height: 25px;
  border: 1px solid #2c2b2b;
  border-radius: 7px;
  padding: 4px;
  margin-top: 15px;
}

.skill__progress {
  width: 10%;
  background-color: #35225a;
  height: 100%;
  border-radius: 5px;
}

.progress-html {
  animation: progress-html 1s ease-out forwards;
}

.progress-css {
  animation: progress-css 1s ease-out forwards;
}

.progress-js {
  animation: progress-js 1s ease-out forwards;
}

.progress-bootstrap {
  animation: progress-bootstrap 1s ease-out forwards;
}

.progress-java-c {
  animation: progress-java-c 1s ease-out forwards;
}

.progress-sql {
  animation: progress-sql 1s ease-out forwards;
}

.progress-git {
  animation: progress-git 1s ease-out forwards;
}

.progress-english {
  animation: progress-english 1s ease-out forwards;
}

@keyframes progress-html {
  from {
    width: 10%;
  }
  to {
    width: 90%;
  }
}

@keyframes progress-css {
  from {
    width: 10%;
  }
  to {
    width: 90%;
  }
}

@keyframes progress-js {
  from {
    width: 10%;
  }
  to {
    width: 70%;
  }
}

@keyframes progress-bootstrap {
  from {
    width: 10%;
  }
  to {
    width: 70%;
  }
}

@keyframes progress-java-c {
  from {
    width: 10%;
  }
  to {
    width: 55%;
  }
}

@keyframes progress-sql {
  from {
    width: 10%;
  }
  to {
    width: 45%;
  }
}

@keyframes progress-git {
  from {
    width: 10%;
  }
  to {
    width: 85%;
  }
}

@keyframes progress-english {
  from {
    width: 10%;
  }
  to {
    width: 75%;
  }
}

.carousel__item {
  padding: 6px 6px 16px 6px;
  text-align: center;
  transition: all 0.5s;
}

.carousel__item:hover {
  color: #fff;
  background-color: #5a0d67;
  border-color: #5a0d67;
}

.carousel__img {
  max-width: 100%;
  margin: 5px 5px;
}

.carousel .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}

.carousel .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0 10px;
  background-color: #c4c4c4;
  width: 50px;
  height: 1px;
}

.carousel .slick-active button {
  background-color: #5a0d67;
  height: 3px;
}

.contact {
  background-color: #21062a;
  padding: 50px 75px 57px;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.contact__title {
  color: #fff;
}

.contact__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 830px;
  margin: 0 auto;
}

.contact__input {
  width: 256px;
  height: 44px;
  border: 1px solid #fff;
  padding: 11px 14px 12px;
  margin-bottom: 28px;
  font-size: 16px;
  border-radius: 5px;
}

.contact__area {
  width: 100%;
  padding: 14px;
  height: 112px;
  resize: none;
  margin-bottom: 67px;
  border-radius: 5px;
}

.contact__input::placeholder,
.contact__area::placeholder {
  font-size: 16px;
  color: #c4c4c4;
}

.contact__input:focus,
.contact__area:focus {
  outline: 0;
}

.contact__btn {
  background: #fff;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  line-height: 21px;
  color: #5a0d67;
  padding: 19px 65px 20px;
  cursor: pointer;
}

.footer {
  background-color: #21062a;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.footer__title {
  color: #fff;
  padding: 20px 20px;
  font-size: 26px;
}

@media (max-width: 1200px) {
  .header__images-myphoto {
    width: 450px;
    height: 500px;
    bottom: 5px;
    margin-right: 100px;
  }
}

@media (max-width: 1100px) {
  .header__images-myphoto {
    margin-right: 25px;
  }

  .header__title {
    font-size: 50px;
    margin-left: 65px;
  }
}

@media (max-width: 930px) {
  .about__list {
    padding: 25px 0 25px 55px;
  }

  .contact__input {
    width: 100%;
  }

  .contact__area {
    margin-bottom: 40px;
  }

  .contact__btn {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .menu {
    padding: 10px 0 20px;
  }

  .menu__list {
    font-size: 16px;
  }

  .header__title {
    font-size: 45px;
    margin-left: 50px;
  }

  .about__list {
    padding: 25px 0 25px 55px;
  }
  
}

@media (max-width: 810px) {
  .menu {
    padding: 7px 0 15px;
  }

  .menu__list {
    font-size: 14px;
  }

  .header__title {
    margin-bottom: 250px;
  }

  .header__images-myphoto {
    width: 350px;
    height: 450px;
    bottom: 75px;
  }
}

@media (max-width: 711px) {
  .header__title {
    margin-bottom: auto;
    text-align: center;
  }

  .header__images-myphoto {
    width: 450px;
    height: 500px;
    bottom: 5px;
    top: 190px;
    margin-right: 100px;
  }

  .header__social {
    display: none;
  }

  .about__text {
    font-size: 16px;
  }

  .about,
  .skill,
  .carousel {
    padding: 45px 0;
  }
}

@media (max-width: 620px) {
  .header__images-myphoto {
    width: 400px;
    height: 450px;
    margin-right: 47px;
  }

  .about,
  .skill,
  .carousel {
    padding: 35px 0;
  }

  .about__inner {
    flex-wrap: wrap;
  }

  .about__desc {
    margin-right: 25px;
    margin-top: 0px;
  }

  .about__text {
    margin-bottom: 20px;
    text-align: center;
  }

  .about__list {
    text-align: center;
    font-size: 16px;
    padding: 15px 0 15px 35px;
  }

  .skill__content {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;
  }

  .skill__title {
    font-size: 18px;
    line-height: 33px;
  }

  .skill__progressbar {
    width: 100%;
    margin-top: 5px;
  }
}

@media (max-width: 520px) {
  .carousel .slick-dots button {
    width: 10px;
  }
}

@media (max-width: 460px) {
  .header__images-myphoto {
    width: 365px;
    height: 400px;
    margin-right: 15px;
  }

  .header__title {
    margin-bottom: auto;
    text-align: center;
  }
}
